.MainChat{
    display: flex;
    width: clamp(293px, 35%, 440px);
    height: 100%;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    overflow-y: auto; 
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; 
    border-right: 0.3px solid #d2cfcf61;
}
  .MainChat::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }

.MainChat-sticky {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar, .input-box, .sort-options {
    width: 100%;
    background-color: #202c33;
}

.navbar {
    height: 59px;
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-profile {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.navbar-profile span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('src/assets/myphoto.jpeg'); 
    background-size: cover;
}

.navbar-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    margin: 10px;
}

.input-box {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #111b21;
}

.search-bar,.search-bar2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #202c33;
    border-radius: 8px;
}
.search-bar2{
    background-color: #111b21;
}

.search-bar img {
    padding: 0;
    width: 16px;
    height: 16px;
}

.search-bar input {
    background-color: #202c33;
    appearance: none;
    border: 0;
    width: clamp(215px, 25vw, 320px);
    height: 32px;
    color: #D2CFCF;
    font-size: 16px;
}

input:focus {
    outline: none;
}

input::selection {
    background: none;
}

.sort-options {
    height: 49px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 3px 10px 8px 10px;
    background-color: #111b21;
    position: relative;
    box-shadow: inset 0 -0.1px 0 0 #d2cfcfa1; 
}

.sort-options span {
    border-radius: 20px;
    background-color: #202c33;
    color: #d2cfcfac;
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.sort-options span:hover {
    background-color: #2f3539;
}

.sort-options span.clicked {
    background-color: #03866a3e;
}

.person-chats-container {
    overflow-y: auto;
    width: 100%;
    background-color: #202c33;
    height: 100%;
}

.person-chats {
    width: 100%;
    height: 72px;
    background-color: #111b21;
}

.profile-pic {
    width: 77px;
    height: 73px;
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}

.chat-des {
    width: clamp(215px, 35vw, 360px);
    padding: 0 15px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    height: 73px;
    box-shadow: inset 0 -0.1px 0 0 #d2cfcfa1; 
}

.chat-name-time, .chat-message-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d2cfcfac;
}

.chat-time {
    color: #00a884;
}

.chat-count {
    border-radius: 50%;
    max-width: 33px;
    min-width: 20px;
    height: 20px;
    background-color: #00a884;
    color: #111b21;
    text-align: center;
}
